@model FindYourUniversity.Web.Areas.UniversityArea.ViewModels.UniversityInfoViewModel

<div class="row">

    @using (Ajax.BeginForm("UpdateCommonInfo", "EditInfo",
    new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace
    }, new { @class = "form col-md-5", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(u => u.Id);
        <div class="form-group">
            @Html.LabelFor(u => u.Name)
            @Html.TextBoxFor(u => u.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(u => u.Information)
            @Html.TextAreaFor(u => u.Information, new { @class = "form-control", rows = "10", cols = "450" })
        </div>
        if (this.Model.PictureUrl == null)
        {
            <p class="help-block">Все още нямате качено изображение</p>
        }
        <input type="file" name="Images" id="Images" />
        <input type="submit" value="Обнови" class="btn btn-primary" />
    }
    <div class="col-md-7">
        @if (this.Model.PictureUrl != null)
        {
            <img src="@this.Model.PictureUrl" alt="picture" class="img-thumbnail" width="400" />
        }
    </div>
</div>
