@model FindYourUniversity.Web.Areas.UniversityArea.ViewModels.UniversityViewModel
@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs nav-justified" role="tablist" id="menu">
    <li role="presentation" class="active"><a href="#">Обща информация</a></li>
    <li role="presentation">
        @Ajax.ActionLink("Контакти", "Contacts", "EditInfo", new AjaxOptions()
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "results"
                       })
</li>
<li role="presentation"><a href="#">Факултети</a></li>
<li role="presentation"><a href="#">Специалности</a></li>
<li role="presentation"><a href="#">Получени документи</a></li>
</ul>

<div id="results"></div>

@section scripts{
    <script>
        $("#menu").on("click", function (event) {
            $(".active").removeClass("active");
            event.target.parentNode.className += " active";
        })
    </script>
}


@*@using (Html.BeginForm("Update","EditInfo",FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(u => u.Id)

        @Html.LabelFor(u=>u.UniversityInfo.Name)
        @Html.EditorFor(u=>u.UniversityInfo.Name)

        @Html.LabelFor(u=>u.UniversityInfo.Information)
        @Html.EditorFor(u=>u.UniversityInfo.Information)

        @Html.LabelFor(u=>u.UniversityInfo.ContactInfo.Address)
        @Html.EditorFor(u => u.UniversityInfo.ContactInfo.Address)

        <input type="submit" name="name" value="Save" />
    }*@

