@using FindYourUniversity.Common.Extensions;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/custom")
    @Styles.Render("~/Content/kendo")
    @RenderSection("styles", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="~/Content/images/logo.png" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse navbar-left">
                <ul class="nav navbar-nav">

                    <li class="@Html.IsSelected(action: "Index")">@Html.ActionLink("Начало", "Index", "Home")</li>
                    <li class="@Html.IsSelected(action: "Contact")">@Html.ActionLink("Контакти", "Contact", "Home")</li>
                    <li class="@Html.IsSelected(controller: "Universities", action: "Index")">@Html.ActionLink("Университети", "Index", "Universities")</li>
                    <li class="@Html.IsSelected(controller: "Students", action: "Index")">@Html.ActionLink("Студенти", "Index", "Students")</li>
                    @Html.Partial("_UniversityMenu")
                    @Html.Partial("_StudentMenu")
                    <li><a href="contact-us.html">Contact</a></li>
                </ul>
            </div>
            
            <div class="collapse navbar-collapse navbar-right">
                @Html.Partial("_LoginPartial")
            </div>
            
        </div><!--/.container-->
    </nav><!--/nav-->
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Info", "Index", "CommonInfo", new { area = "UniversityArea" }, null)</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/theme")
    @RenderSection("scripts", required: false)
</body>
</html>
