@model FindYourUniversity.Web.ViewModels.StudentViewModel

<h1 class="text-center text-muted">Лични данни</h1>
<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-1">
        @using (Html.BeginForm("Update", "StudentProfile", FormMethod.Post, new { @class = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(s => s.StudentInfo.FirstName, "Първо име")
                @Html.EditorFor(s => s.StudentInfo.FirstName)
            </div>

            <div class="form-group">
                @Html.LabelFor(s => s.StudentInfo.SecondName, "Бащино име")
                @Html.EditorFor(s => s.StudentInfo.SecondName)
            </div>

            <div class="form-group">
                @Html.LabelFor(s => s.StudentInfo.LastName, "Фамилно име")
                @Html.EditorFor(s => s.StudentInfo.LastName)
            </div>

            <div class="form-group">
                <label><strong>Дата на раждане</strong></label>
                @(Html.Kendo().DatePickerFor(s => s.StudentInfo.BirthDate))
            </div>

            <div class="form-group">
                @Html.LabelFor(s => s.StudentInfo.School, "Училище")
                @Html.EditorFor(s => s.StudentInfo.School)
            </div>

            <div class="form-group">
                <span><strong>Град</strong></span>
                @(Html.Kendo().DropDownListFor(s => s.ContactInfo.CityId)
        .DataTextField("CityName")
        .DataValueField("CityId")
        .DataSource(source => source.Read(read => read.Action("GetCities", "StudentProfile"))))
            </div>

            <div class="form-group">
                @Html.LabelFor(s => s.ContactInfo.Address, "Адрес")
                @Html.EditorFor(s => s.ContactInfo.Address)
            </div>

            <div class="form-group">
                @Html.LabelFor(s => s.ContactInfo.Email, "Имейл")
                @Html.EditorFor(s => s.ContactInfo.Email)
            </div>

            <div class="form-group">
                @Html.LabelFor(s => s.ContactInfo.Telephone, "Телефон")
                @Html.EditorFor(s => s.ContactInfo.Telephone)
            </div>

            <div class="form-group">
                @Html.LabelFor(s => s.ContactInfo.Website, "Уебсайт")
                @Html.EditorFor(s => s.ContactInfo.Website)
            </div>
            <input type="submit" class="btn btn-default" value="Обнови" />
        }
    </div>
    <div class="col-md-4 col-md-offset-2">
        @if (Model.ImageDocuments.Count == 0)
        {
            <p class="text-muted">Все още нямате качени документи</p>
            @Html.ActionLink("Качете документи", "DocumentsUpload", "StudentProfile", null, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.Partial("_DocumentsEditor", Model.ImageDocuments)
            @Html.ActionLink("Качване на други документи", "DocumentsUpload", "StudentProfile", null, new { @class = "btn btn-primary" })
        }
    </div>
</div>