@model FindYourUniversity.Web.ViewModels.StudentViewModel

<h1 class="text-center text-muted">Лични данни</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        @if (Model.PictureUrl == null)
        {
            <img src="~/Images/default.jpg" width="250" alt="profile-image" class="img-thumbnail" />
        }
        else
        {
            <img src="@Model.PictureUrl" width="250" alt="profile-image" class="img-thumbnail" />
        }
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("Update", "StudentProfile", FormMethod.Post, new { @class = "form" }))
        {

            <div class="form-group">
                @Html.LabelFor(s => s.StudentInfo.FirstName, "Първо име")
                @Html.EditorFor(s => s.StudentInfo.FirstName)
            </div>

            <div class="form-group">
                @Html.LabelFor(s => s.StudentInfo.SecondName, "Бащино име")
                @Html.EditorFor(s => s.StudentInfo.SecondName)
            </div>

            <div class="form-group">
                @Html.LabelFor(s => s.StudentInfo.LastName, "Фамилно име")
                @Html.EditorFor(s => s.StudentInfo.LastName)
            </div>

            <div class="form-group">
                <label><strong>Дата на раждане</strong></label>
                @(Html.Kendo().DatePickerFor(s => s.StudentInfo.BirthDate))
            </div>

            <div class="form-group">
                @Html.LabelFor(s => s.StudentInfo.School, "Училище")
                @Html.EditorFor(s => s.StudentInfo.School)
            </div>

            <div class="form-group">
                <span><strong>Град</strong></span>
                @(Html.Kendo().DropDownListFor(s => s.ContactInfo.CityId)
        .DataTextField("CityName")
        .DataValueField("CityId")
        .DataSource(source => source.Read(read => read.Action("GetCities", "StudentProfile"))))
            </div>
            
            <div class="form-group">
                @Html.LabelFor(s => s.ContactInfo.Address, "Адрес")
                @Html.EditorFor(s => s.ContactInfo.Address)
            </div>

            <div class="form-group">
                @Html.LabelFor(s => s.ContactInfo.Email, "Имейл")
                @Html.EditorFor(s => s.ContactInfo.Email)
            </div>

            <div class="form-group">
                @Html.LabelFor(s => s.ContactInfo.Telephone, "Телефон")
                @Html.EditorFor(s => s.ContactInfo.Telephone)
            </div>

            <div class="form-group">
                @Html.LabelFor(s => s.ContactInfo.Website, "Уебсайт")
                @Html.EditorFor(s => s.ContactInfo.Website)
            </div>

            @Html.Partial("_DocumentsEditor", Model.ImageDocuments)

            @*foreach (var document in Model.ImageDocuments)
                {
                     <span>Тип на документа - @document.ApplicationDocumentType.Name</span>
                        @Html.Raw("<img src=\"data:image/jpeg;base64," + @Convert.ToBase64String(document.Image) + "\" width='350' />");
                }*@

            <input type="submit" class="btn btn-default" value="Обнови" />
        }
    </div>
    <div class="col-md-4"></div>
</div>